<!-- footer.liquid -->
<div>
  {% if site.newsletter.enabled or site.socials_in_footer %}
    <hr>
  {% endif %}

  <!-- newsletter -->
  {% if site.newsletter.enabled %}
    {% include scripts/newsletter.liquid %}
  {% endif %}

  <!-- Social -->
  {% if site.socials_in_footer %}
    {% assign section = "footer" %}
    <div class="social">
      <div class="contact-icons">{% include social.liquid %}</div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
  {% endif %}
 
  <div class="{% if site.footer_fixed %} fixed-footer-spacing{% else %} sticky-footer-spacing{% endif %}"></div>
 
  <footer class="{% if site.footer_fixed %} fixed-bottom {% else %} sticky-bottom {% endif %}" role="contentinfo">
  <div class="container">
    &copy; Copyright {{ site.time | date: '%Y' }}
    {{ site.first_name }}
    {{ site.middle_name }}
    {{ site.last_name }}. {{ site.footer_text }}
    {% if site.impressum_path %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
      Last updated: {{ 'now' | date: '%B %d, %Y' }}.
    {% endif %}
  </div>  
</div>
