{% comment %}
The following variables will be used to control the behavior of the template:
  tag_to_display: only display posts with the specific tag
  latest_posts_limit: how many posts this template will display

The frontmatter directive will be looked at:
  redirect: URL this post redirect to. Will open in a new window if different website.
  tags: tags in the post
{% endcomment %}

<div class="news">
  {% if site.latest_posts != blank %}
    {% assign latest_posts_size = site.posts | size %}
    {% capture posts_output %}
      <table class="table table-sm table-borderless">
        {% assign latest_posts = site.posts %}
        {% unless latest_posts_limit %}
          {% if site.latest_posts.limit %}
            {% assign latest_posts_limit = site.latest_posts.limit %}
          {% else %}
            {% assign latest_posts_limit = latest_posts_size %}
          {% endif %}
        {% endunless %}

        {% assign posts_count = 0 %}
        {% for item in latest_posts %}

          {% unless tag_to_display == Nil or item.tags contains tag_to_display %}
            {% continue %}
          {% endunless %}

          <tr>
            <th scope="row" style="width: 16.6666%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.redirect == blank %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% elsif item.redirect contains '://' %}
                <a class="news-title" href="{{ item.redirect }}" target="_blank">{{ item.title }}</a>
                <svg width="2rem" height="2rem" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9"
                    class="icon_svg-stroke"
                    stroke="#999"
                    stroke-width="1.5"
                    fill="none"
                    fill-rule="evenodd"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              {% else %}
                <a class="news-title" href="{{ item.redirect | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>

          {% assign posts_count = posts_count | plus: 1 %}
          {% if posts_count >= latest_posts_limit %}
            {% break %}
          {% endif %}
        {% endfor %}
      </table>
    {% endcapture %}

    <div
      class="table-responsive"
      {% if site.latest_posts.scrollable and posts_count > 3 %}
        style="max-height: 25vw"
      {% endif %}
    >
    {{ posts_output }}
    </div>
  {% else %}
    <p>No posts so far...</p>
  {% endif %}
</div>
