{% comment %} 
Use this template to create TOC navgation for a comment.
Assign content to toc_content and tell this templete
if you want to put the sidebar on the 'left' or 'right' side. 
{% endcomment  %}

<script defer src="{{ '/assets/js/bootstrap-toc.min.js' | relative_url | bust_file_cache }}"></script>

{% capture content_block %}
  <!-- main content area -->
  <div id="toc-content" class="col-sm-10" data-spy="scroll" data-target="#toc-sidebar">
    {{ toc_content }}
  </div>
{% endcapture %}
{% capture sidebar_block %}
  <div class="col-sm-2 mt-3">
    <nav id="toc-sidebar"  class="sticky-top"></nav>
  </div>
{% endcapture %}

<div class="row">
{% if toc_sidebar == 'right' %}
  {{ content_block }}
  {{ sidebar_block }}
{% else %}
  {{ sidebar_block }}
  {{ content_block }}
{% endif %}
</div>